<MudForm @ref="form" Model="@hl7B2BModel" id="@Id">

    <div style="display: flex; justify-content: flex-end;">
        <MudText Color="Color.Tertiary">See TEFCA Facilitated FHIR SOP Page 17</MudText>
        <MudImage Width="158" Height="56"
                  Class="cursor-pointer ma-2"
                  Src="https://rce.sequoiaproject.org/wp-content/uploads/2023/10/rce-logo-gray.svg"
                  Alt="Tefca Icon for Facilitated FHIR SOP"
                  @onclick="@GoToTEFCAFacilitateFhirSOP" />
    </div>

    <MudTextField @bind-Value="hl7B2BModel.Version" Label="Version" Required="true" />
    <MudTextField @bind-Value="hl7B2BModel.PurposeOfUse" Label="Purpose of Use" Required="true" />
    <MudTextField @bind-Value="_jsonRelatedPerson" 
                  Label="FHIR Related Person" 
                  Required="true" 
                  Immediate="true"
                  Validation="@(new Func<string?, string?>(ValidateJsonRelatedPerson))" />
    <MudTextField @bind-Value="_jsonPatient" 
                  Label="FHIR Patient" 
                  Required="true" 
                  Immediate="true"
                  Validation="@(new Func<string?, string?>(ValidateJsonPatient))" />
    <MudTextField @bind-Value="hl7B2BModel.IalVetted" Label="IA Vetted" />
    <MudTextField @bind-Value="newConsentPolicy" Label="New Consent Policy" />
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddConsentPolicy">Add Consent Policy</MudButton>
    <MudChipSet T="string">
        @foreach (var policy in hl7B2BModel.ConsentPolicy)
        {
            <MudChip T="string" OnClose="() => RemoveConsentPolicy(policy)" Closeable="true">@policy</MudChip>
        }
    </MudChipSet>
    @if (hl7B2BModel.ConsentPolicy.Count == 0)
    {
        <div class="validation-error">At least one Consent Policy is required.</div>
    }

    <MudTextField @bind-Value="newConsentReference" Label="New Consent Reference" />
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddConsentReference">Add Consent Reference</MudButton>
    <MudChipSet T="string">
        @foreach (var reference in hl7B2BModel.ConsentReference)
        {
            <MudChip T="string" OnClose="() => RemoveConsentReference(reference)" Closeable="true">@reference</MudChip>
        }
    </MudChipSet>
    <MudTextField @bind-Value="hl7B2BModel.IdToken" Label="Id Token" />

    <MudGrid Justify="Justify.FlexEnd">
        <MudItem>
            <MudButton OnClick="HandleRemove" Variant="Variant.Filled" Color="Color.Primary" Class="ma-2">&lt;= Remove</MudButton>
            <MudButton OnClick="HandleInclude" Variant="Variant.Filled" Color="Color.Primary" Class="ma-2">Include =></MudButton>
        </MudItem>
    </MudGrid>
</MudForm>
