<MudForm @ref="_form" Model="@_hl7B2BModel" >
    
    <div style="display: flex; justify-content: flex-end;">
        <MudText Color="Color.Tertiary">See Interoperable Digital Identity and Patient Matching Section 3.2.2</MudText>
        <MudImage 
            Class="cursor-pointer mud-ripple ma-2" 
            Src="_content/UdapEd.Shared/images/hl7/icon-fhir-32.png" 
            Alt="Fhir Icon" style="height: 36px; width: 36px; margin: 24px"
            @onclick="@GoToFhirIdentityMatchingIg" />
    </div>
    <MudTextField @bind-Value="_hl7B2BModel.Version" Label="Version" Required="true" />

    <div @onclick="OpenMenu" style="display: flex; justify-content: space-between; align-items: center;">
        <MudText @onclick="OpenMenu">@(_jsonUserPerson)</MudText>
        <MudTooltip Text="Select Person">
            <MudMenu @ref="personMenuRef" AriaLabel="Set Context" EndIcon="@Icons.Material.Outlined.PersonPin" Color="Color.Secondary" Variant="Variant.Text">
                @if (AppState.FhirContext.CurrentPerson != null)
                {
                    <MudMenuItem OnClick="@UsePersonContext">@(new MarkupString(string.Join("<br/> ", AppState.FhirContext.CurrentPerson.Name.Select(hn => $"{hn.Given.First()}, {hn.Family}"))))</MudMenuItem>
                }
                <MudMenuItem OnClick="@EmptyPersonContext">Create Empty Person</MudMenuItem>
                <MudMenuItem OnClick="@SearchForPerson">Search for Person</MudMenuItem>
                <MudMenuItem OnClick="@ClearPersonContext">
                    <MudIcon Icon="@Icons.Material.Outlined.Clear"/> Clear Person Context
                </MudMenuItem>
            </MudMenu>
        </MudTooltip>
    </div>
    
    @if (_jsonUserPerson == null)
    {
        <MudText Color="Color.Error" Typo="Typo.caption" >
            Missing FHIR Person.
        </MudText>
    }

    

    <MudAutocomplete T="string" @bind-Value="_newPurposeOfUse"
                     Label="New Purpose of Use"
                     SearchFunc="@SearchPurposeOfUse"
                     MaxItems="100"
                     Class="scrollable-dropdown" />
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddPurposeOfUse">Add Purpose of Use</MudButton>
    <MudChipSet T="string">
        @if (_hl7B2BModel.PurposeOfUse != null)
        {
            foreach (var purpose in _hl7B2BModel.PurposeOfUse)
            {
                <MudChip T="string" OnClose="() => RemovePurposeOfUse(purpose)">@purpose</MudChip>
            }

            if (_hl7B2BModel.PurposeOfUse.Count == 0)
            {
                <div class="validation-error">At least one Purpose of Use is required.</div>
            }
        }


    </MudChipSet>
    <MudTextField @bind-Value="_newConsentPolicy" Label="New Consent Policy"/>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddConsentPolicy">Add Consent Policy</MudButton>
    <MudChipSet T="string">
        @if (_hl7B2BModel.ConsentPolicy != null)
        {
            foreach (var policy in _hl7B2BModel.ConsentPolicy)
            {
                <MudChip T="string" OnClose="() => RemoveConsentPolicy(policy)">@policy</MudChip>
            }
        }
    </MudChipSet>

    <MudTextField @bind-Value="_newConsentReference" Label="New Consent Reference"/>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddConsentReference">Add Consent Reference</MudButton>
    <MudChipSet T="string">
        @if (_hl7B2BModel.ConsentReference != null)
        {
            foreach (var reference in _hl7B2BModel.ConsentReference)
            {
                <MudChip T="string" OnClose="() => RemoveConsentReference(reference)">@reference</MudChip>
            }
        }
    </MudChipSet>

    <MudGrid Justify="Justify.FlexEnd">
        <MudItem>
            <MudButton OnClick="HandleRemove" Variant="Variant.Filled" Color="Color.Primary" Class="ma-2">&lt;= Remove</MudButton>
            <MudButton OnClick="HandleInclude" Variant="Variant.Filled" Color="Color.Primary" Class="ma-2">Include =></MudButton>
        </MudItem>
    </MudGrid>
</MudForm>